.dashboard {
  padding: 20px;
}

.grid-controls {
  margin-bottom: 20px;
}

.add-tile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.layout {
  background-color: #f8f9fa;
}

.grid-item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure the "X" button appears above other content */
}

.remove:hover {
  color: red; /* Change color on hover for visual feedback */
}

.tile-content {
  padding: 20px;
}